* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header {
    height: 150px;
    width: 100%;
    background-color: white;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/20/13/10/woman-731140_960_720.jpg");
    background-size: 100%;
    border-bottom: solid 2px black;
}
.a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(3, 116, 3);
    font-size: large;
    padding: 40px;
}
a:hover{
    color: white;
    padding: 2px;
    cursor: pointer;
}
.wrapper{
    display: flex;
    justify-content: space-between ;
}
img{
    max-width: 100%;
    border-radius: 15px;
}
.item-1 {   
    text-align: center;
    width: 150px;
}
.item-2 {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    padding: 10px 15px;
    line-height: 4;
    margin-left:80px;   
}
h1{
text-align: center;
margin: 40px 0px 40px 0px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    color: rgba(3, 116, 3, 0.865);
}
a:hover{
    color:black;
    padding: 0px 20px 0px 20px;
}
.h2{
    -ms-text-size-adjust: 20rem;
}
.second-container {
    background-color:rgba(24, 119, 24, 0.783);
    border-radius: 20px;
    display: flex;
    text-align: center;
    margin: 20px 20px;
    padding: 1%;
}
.division-1 {  
    flex: 1;          
}
.division-2 {  
    flex: 1;
}
.division-3{
flex: 1;
}
.third-container{
    background-color: rgba(24, 119, 24, 0.783);
    border-radius: 20px;
    display: flex;
    text-align: center;
    margin: 20px 20px;
    padding: 1%;
}
.yoga-lista{
    text-align: center;
    list-style: none; 
}
.footer {
    background-color: rgba(24, 119, 24, 0.783);
    display: flex;
    justify-content:space-around;
    border-radius: 20px;
    margin: 20px 20px;   
}
.adress {
    flex-direction: column;
    text-align:left;
    text-align-last: center;
    padding: 60px;
}  
.adress a{
    color: black
}
.adress a:hover{
padding: 0px;
background-color: transparent;
}
.copyright {
    padding-top: 90px;
}
.icons-container{
    text-align: center;
    margin: 75px 140px 0px 0px 
}
.karta {  
    flex-direction: column;  
    text-align:center;
    border-radius: 15px;
}
.karta-2{
    border-radius: 15px;
}
h3 {
color:black;
}
.top-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    align-content: center; 
}
.top-button button {

    position: relative;
  display: block;
  width: 100px;
  height: 36px;
  border-radius: 18px;
  background-color: black;
  border: solid 1px transparent;
  color:white;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  transition: all .1s ease-in-out; 
  align-content: center;
}
 
.top-button button:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
}
.input{
    padding:4px 8px; 
}

