*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    background-image: url(Images/polarbear.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    height:152px;
    width: 100%;
    background-color: white   
}
.wrapper{
    display: flex;
    justify-content:space-between;
    opacity: 1;
}
img{
    max-width: 100%;
    }
.item-1 {   
        text-align: center;
        width: 150px;
    }
    
.item-2 {
    position: absolute;
    top: 70px;
    right: 100px;
    display: flex;
    margin-left:150px;   
    }
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 100px;   
}
.item{
    background-color: rgba(0, 128, 0, 0.29);
    padding: 50px 60px 50px 60px;
    margin: 40px;
    color: black;
    text-align: center;
}
.second-container{
    padding-top: 10px;
    float: right;
}
.third-container{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;  
}
.item.item-3{   
    border-radius: 20px;
    
}
.item.item-4{
    background-color:rgba(0, 128, 0, 0.29);
    text-align: center; 
    padding: 50px 50px;  
    border-radius: 20px;
    
}
.rubrik-H1{
    text-align-last: center;
    font-size: 20px;
    }  

a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    color: rgba(3, 116, 3, 0.865);
}
a:hover{
    
    color:black;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
}
p{
    color:black;  
    padding-bottom: 25px; 
}
.button.button{
width: 40%;
margin-left: 30%;
margin-right: 30%;
}
.main-button button{
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1f862d87;
  border: solid 1px transparent;
  color:black;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  transition: all .1s ease-in-out; 
  align-content: center;
  
}   
.main-button button:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }

.footer {
    background-color: rgba(0, 128, 0, 0.29);
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin: border solid 2px;
    padding-bottom: 40px;
}
.adress {
    flex-direction: column;
    text-align: center;
    text-align-last: center;
    padding: 90px 20px 0px 0px;
}  
.adress a{
color: black;
}
.adress a:hover{
padding: 0px;
background-color: transparent;
}
.copyright {
    text-align: center;
}
.icons{
padding-top: 100px;
}  
.karta {
    flex-direction: column;  
    text-align:center;
    margin-top: 20px;    
}
h5 {
color:black;
text-align: center;
border: 2px solid;
width: 50%;
}
.top-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    align-content: center; 
}
.top-button button {

    position: relative;
  display: block;
  width: 100px;
  height: 36px;
  border-radius: 18px;
  background-color: #1f862d87;
  border: solid 1px transparent;
  color:black;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  transition: all .1s ease-in-out; 
  align-content: center;
} 
.top-button button:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
}
.input{
    padding:4px 8px; 
}