*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(Images/yoganatur.jpeg);
    background-size: cover;
    background-image: 100%;
     

}
.header {
    height:152px;
    width: 100%;
    background-color: white   
}
.wrapper{
    display: flex;
    justify-content:space-between;
    opacity: 1;
}

img{
    max-width: 100%;
    }

.item-1 {   
        text-align: center;
        width: 150px;
    }
    
.item-2 {
    position: absolute;
    top: 65px;
    right: 70px;
    display: flex;
    margin-left:80px;   
    }

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 100px;   
}

.item{
    background-color: rgba(0, 128, 0, 0.447);
    padding: 30px 60px 40px 60px;
    margin: 40px;
    color: black;
    text-align: center;

}

.third-container{
    display: flex; 
    margin-left: 410px;
    

}

.item.item-4{
    background-color:rgba(0, 128, 0, 0.447);
    display: block;
    text-align: center;
    
}


.rubrik-H1{
    text-align-last: center;
    font-size: 20px;
    }
    
.item-2 a{
    display: block;
    margin: 2px;
    }    

a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(3, 116, 3);
}

a:hover{
    background-color: rgb(0,128, 0.447);
    color: white;
    padding: 2px;
}

p{
    color:black;
    
}

#button{
    border: 30px;
    border-radius: 5px;
}
    






.footer {
    background-color: rgba(3, 116, 3, 0.495);
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin: border solid 2px;
    
}

.adress {
    flex-direction: column;
    text-align: center;
    text-align-last: center;
    padding: 50px;
}  

.adress a{
color: white;

}

.adress a:hover{
padding: 0px;
background-color: transparent;
}

.copyright {
    text-align: center;
}

.icons{
padding-top: 70px;

}  

.karta {
    
    flex-direction: column;  
    text-align:center;
}

h3 {
color: white;
}