*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(Images/buddha.jpeg);
    background-size: cover;
}

h1{
    text-align: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    color: white;
    border-radius: 20px;
}

.header {
    height:152px;
    width: 100%;
    background-color: white   
}


a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(3, 116, 3);
}

a:hover{
    color:black;
    padding: 2px;
}

p{
    text-align: center;
    color: white;
    width: 250px;
}

.text-1{
    text-align: center;
    color: white;
    margin: 40px;
}

.text-2{
    text-align: center;
    color: white;
    margin: 40px;
}

h4{
    text-align: center;
    color: white;
    margin: 20px;
    padding-top: 40px;
}

.wrapper{
    display: flex;
    justify-content:space-between;
    opacity: 1;
}

img{
    max-width: 100%;
    border-radius: 20px;
    background-position: ;
    }

.item-1 {   
        text-align: center;
        width: 150px;
        display: repeat;
    }
.rubrik-H1{
        text-align-last: center;
        font-size: 20px;

    }   
.item-2 {
    position: absolute;
    top: 60px;
    right: 100px;
    display: flex;
    margin-left:150px;   
    }

a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    color: rgba(3, 116, 3, 0.865);
}
a:hover{
    color:black;
    padding: 0px 20px 0px 20px;
}

.grid-container1{
    display: grid;
    grid-template-columns: auto auto; 
    background-color: rgba(0, 100, 0, 0.386);
    margin:200px;
    
}
    
.grid-item1{
    text-align: center;
}

.klipp{
    border:1px solid black;
    width: 230px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}


.grid-item2{
    text-align: center;
}

.footer {
background-color: rgba(3, 116, 3, 0.399);
width: 100%;
display: flex;
justify-content:space-around;
margin: border solid 2px;
text-align: center;
        
}
    
.adress {
flex-direction: column;
text-align: center;
text-align-last: center;
padding: 60px 50px 0px 0px;
}  

.adress a{
    color: white; 
}

.adress a:hover{
    padding: 0px;
    background-color: transparent;
}

.copyright {
    margin-left: 800px;  
    text-align: center;

    }
   
.icons{
    justify-content: center;
margin: 60px 90px 0px 0px;
    
}  

.karta {
        
flex-direction: column;  
text-align:center;
}

h3 {
    color: white;
}

.top-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    align-content: center;
}
.top-button button {
    text-transform: uppercase;
    background-color:black;
    color: white;
    border-radius: 50px;
    padding: 12px;
    box-shadow: 0px 2px 4px grey;
}
.top-button button:hover {
    background-color: white;
    color:green;
    transition: 0, 89s;
    cursor: pointer;
}

