* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 700px;
    width: 100%;
    background-color: rgb(24, 119, 24);
    background-image: url("https://cdn.pixabay.com/photo/2015/04/20/13/10/woman-731140_960_720.jpg");
    background-size: 100%;
    border-bottom: solid 2px black;
}

.wrapper{
    display: flex;
    justify-content: space-between ;
}

img{
    max-width: 100%;
}

.item-1 {   
    text-align: center;
    width: 150px;
}

.item-2 {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    padding: 10px 15px;
    line-height: 4;
    margin-left:80px;   
}

.Rubrik-H1{
    text-align-last: center;
    font-size: 20px;
}


.item-2 a{
    display: block;
    margin: 10px;
}



.h2{
    -ms-text-size-adjust: 20rem;
}

.second-container {
    background-color:rgb(24, 119, 24);
    width: 100%;
    display: flex;
    text-align-last: center;
    
}

.division-1 {
    
    flex: 1;
    border-right: black 2px solid;
    border-bottom: black 2px solid;    
    
}

.division-2 {
    
    flex: 1;
    border-bottom: solid 2px black;

}

.division-3{
flex: 1;
border-left: solid 2px black;
border-bottom: solid 2px black;
}

.yoga-lista{
    text-align: center;
    list-style: none; 
}

.footer {
    background-color: rgba(22, 126, 6, 0.815);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adress {
    flex-direction: column;
    text-align: center;
    text-align-last: center;


}

.copyright {
    
    flex-direction: column; 
}

.karta {
    
    flex-direction: column;  
    text-align:center;
}

.top-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
}
.top-button button {
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 12px;
    box-shadow: 0px 2px 4px grey;
}
.top-button button:hover {
    background-color: white;
    color: black;
    transition: 0, 89s;
    cursor: pointer;
}