* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    height: 152px;
    width: 100%;
    background-color: white;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/20/13/10/woman-731140_960_720.jpg");
    background-size: 100%;
    border-bottom: solid 2px black;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px;
    
}

a:hover{
    background-color: rgb(3, 116, 3);
    color: white;
    padding: 2px;
}

.wrapper{
    display: flex;
    justify-content: space-between ;
}

img{
    max-width: 100%;
}

.item-1 {   
    text-align: center;
    width: 150px;
}

.item-2 {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    padding: 10px 15px;
    line-height: 4;
    margin-left:80px;   
}

h1{
text-align: center;
margin: 15px;
}

.item-2 a{
    display: block;
    margin: 2px;     
}


.h2{
    -ms-text-size-adjust: 20rem;
}

.second-container {
    background-color:rgba(24, 119, 24, 0.783);
    width: 97%;
    display: flex;
    text-align: center;
    margin: 20px 40px 20px 20px;

}

.division-1 {
    
    flex: 1;
    border-right: black 2px solid;
    border-bottom: black 2px solid;    
    background-image:;
}

.division-2 {
    
    flex: 1;
    border-bottom: solid 2px black;

}

.division-3{
flex: 1;
border-left: solid 2px black;
border-bottom: solid 2px black;
}

.yoga-lista{
    text-align: center;
    list-style: none; 
}

.footer {
    background-color: rgba(24, 119, 24, 0.783);
    width: 100%;
    display: flex;
    justify-content:space-around;
    border-radius: 5rem;
    
}

.adress {
    flex-direction: column;
    text-align: center;
    text-align-last: center;
    padding: 50px;
}  
.adress a{
    color: black
}

.adress a:hover{
padding: 0px;
background-color: transparent;
}

.copyright {
    text-align: center;
}

.icons{
padding-top: 70px;

}  

.karta {
    
    flex-direction: column;  
    text-align:center;
}

h3 {
color:black;
}

.top-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    align-content: center;
}
.top-button button {
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 12px;
    box-shadow: 0px 2px 4px grey;
}
.top-button button:hover {
    background-color: white;
    color: black;
    transition: 0, 89s;
    cursor: pointer;
}